<div class="container">
  <div class="row">
    <div class="col-12 p-0">
        <div class="cards m-3 position-relative">
          <div class="card-meal-show p-3 mb-3">
            <%= render "shared/meal", meal: @meal%>
          </div>
          <div class="d-flex position-absolute all-btns-show">
            <%= render "shared/button_eaten", favorite: @favorite %>
            <%= render "shared/button_superlike", favorite: @favorite %>
          </div>
          <div class="position-absolute btn-delete-show">
            <%= link_to favorite_path(@favorite), data: {turbo_method: :delete} do %>
              <i class="fa-solid fa-xmark" style="color:grey"></i>
            <% end %>
          </div>
          <div class="meal-show-button">
            <%= link_to new_meal_booking_path(@meal) do %>
              <button class="btn btn-orange text-dark" style="width: 70%;">Réserver</button>
            <% end %>
          </div>
        </div>
    </div>
  </div>
</div>
