<div class="container">
  <div class="row">
    <div class="col-12 p-0">
        <div class="cards m-3 position-relative">
          <div class="card-meal-show p-3 mb-3">
            <%= render "shared/meal_favorite", meal: @meal%>
          </div>
          <div class="d-flex position-absolute all-btns-show">
            <%= render "shared/button_eaten", favorite: @favorite %>
            <%= render "shared/button_superlike", favorite: @favorite %>
          </div>
          <div class="position-absolute btn-delete-show">
            <%= link_to favorites_path do %>
              <i class="fa-regular fa-circle-left" style="color:white"></i>
            <% end %>
          </div>
        </div>
        <div class="cards m-3 position-relative">
          <div class="card-meal-show p-3 mb-3">
            <div class="d-flex" style="justify-content: space-between;">
              <h2>Avis 📝 </h2>
              <% rate = @favorite.meal.reviews.map(&:rating).sum / @favorite.meal.reviews.size.to_f %>
              <% if rate == 0 %>
                <h2><%= "" %></h2>
              <% else %>
                <h2><%= "#{rate.round(2)}⭐️" %></h2>
              <% end %>
            </div>
          <% @favorite.meal.reviews.each do |review|%>
            <%= render "shared/review", review: review %>
          <% end %>
          </div>
        </div>
    </div>
  </div>
