<%= simple_form_for favorite do |f| %>
  <% if favorite.eaten == false %>
    <%= f.input :eaten, as: :hidden, input_html: { value: true } %>
    <div >
      <%= button_tag type: 'submit', style: 'border:none; background:none;' do %>
        <i class="fa-solid fa-cookie cookie-icon" style="color:grey"></i>
      <% end %>
    </div>
  <% else %>
    <%= f.input :eaten, as: :hidden, input_html: { value: true } %>
    <div >
      <%= button_tag type: 'submit', style: 'border:none; background:none;' do %>
        <i class="fa-solid fa-cookie-bite cookie-icon"></i>
      <% end %>
    </div>
  <% end %>
<% end %>
