<%= simple_form_for favorite do |f| %>
  <% if favorite.eaten == false %>
    <%= f.input :eaten, as: :hidden, input_html: { value: true } %>
    <div >
      <%= button_tag type: 'submit', style: 'border:none; background:none;' do %>
        <%# <%= link_to new_meal_review_path [favorite.meal, Review.new] do %>
          <i class="fa-solid fa-cookie" style="color:grey"></i>
        <%# <% end %>
      <% end %>
    </div>
  <% else %>
    <%= f.input :eaten, as: :hidden, input_html: { value: true } %>
    <div >
      <%= button_tag type: 'submit', style: 'border:none; background:none;' do %>
        <%# <%= link_to new_meal_review_path [favorite.meal, Review.new] do %>
          <i class="fa-solid fa-cookie-bite" style="color:green"></i>
        <%# <% end %>
      <% end %>
    </div>
  <% end %>
<% end %>
