<%# TODO Partial meal : Name / Photo / Price / Rating %>
<%= cl_image_tag meal.photo.key, alt: "food", width: 300, height: 300, crop: :fill, style: "border-radius: 10px;" %>
<div class="card-meal-show-text">
  <h2><%= meal.name %></h2>
  <p><%= meal.description %></p>
  <p style="font-size: 25px;"><%= meal.price %>€</p>
</div>
<div class="d-flex justify-content-center">
  <div class="meal-show-button">
    <% if @favorite.eaten %>
      <div class="meal-show-button-eaten">
        <%= link_to new_meal_review_path(meal, Review.new) do %>
          <button class="btn btn-orange">Noter ce plat</button>
        <% end %>
        <%= link_to new_meal_booking_path(meal) do %>
          <button class="btn btn-orange">Réserver</button>
        <% end %>
      </div>
    <% else %>
      <%= link_to new_meal_booking_path(meal) do %>
        <button class="btn btn-orange">Réserver</button>
      <% end %>
    <% end %>
  </div>
</div>
