<%# TODO Partial meal : Name / Photo / Price / Rating %>
<%= cl_image_tag meal.photo.key, alt: "food", width: 300, height: 300, crop: :fill, style: "border-radius: 10px;" %>
<div class="card-meal-show-text">
  <h2><%= meal.name %></h2>
  <p><%= meal.description %></p>
  <p><%= meal.price %>€</p>
</div>
<div class="btn d-flex justify-content-center">
  <div class="meal-show-button">
    <% if @favorite.eaten %>
      <%= link_to new_meal_review_path(meal, Review.new) do %>
        <button class="btn btn-orange text-dark">Noter ce plat</button>
      <% end %>
    <% else %>
      <%= link_to new_meal_booking_path(meal) do %>
        <button class="btn btn-orange text-dark">Réserver</button>
      <% end %>
    <% end %>
  </div>
</div>
