<div class="navbar navbar-expand-sm navbar-light fixed-bottom navbar-lewagon">
  <div class="container-fluid">
    <% if user_signed_in? %>
      <% if current_user.owner %>
        <div class="w-100">
          <ul class="nav">
            <li class="nav-item owner">
              <%= link_to restaurant_path(current_user.restaurant), class: "nav-link" do %>
                <i class="fa-solid fa-store"></i>
                <small>Restaurant</small>
              <% end %>
            </li>
            <li class="nav-item owner">
              <%= link_to my_bookings_path, class: "nav-link" do %>
                <i class="fa-regular fa-calendar"></i>
                <small>Réservations</small>
              <% end %>
            </li>
            <li class="nav-item owner">
              <%= link_to "#", class: "nav-link" do %>
                <i class="fa-regular fa-comments"></i>
                <small>Messagerie</small>
              <% end %>
            </li>
            <li class="nav-item owner">
              <%= link_to "#", class: "nav-link" do %>
                <i class="fa-regular fa-user"></i>
                <small>Mon profil</small>
              <% end %>
            </li>
          </ul>
        </div>
      <% else %>
        <div class="w-100">
          <ul class="nav">
            <li class="nav-item user">
              <%= link_to bookings_path, class: "nav-link" do %>
                  <i class="fa-regular fa-calendar"></i>
                  <small>Réservations</small>
                <% end %>
            </li>
            <li class="nav-item user">
              <%= link_to favorites_path, class: "nav-link" do %>
                <i class="fa-regular fa-heart"></i>
                <small>Favoris</small>
              <% end %>
            </li>
            <li class="nav-item user">
              <%= link_to meals_path, class: "nav-link" do %>
                <i class="fa-solid fa-burger"></i>
                <small>Découvrir</small>
              <% end %>
            </li>
            <li class="nav-item user">
            <%= link_to "#", class: "nav-link" do %>
                <i class="fa-regular fa-comments"></i>
                <small>Messagerie</small>
              <% end %>
            </li>
            <li class="nav-item user">
            <%= link_to "#", class: "nav-link" do %>
                <i class="fa-regular fa-user"></i>
                <small>Profil</small>
              <% end %>
            </li>
        </ul>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
