<div class="navbar navbar-expand-sm navbar-light fixed-bottom navbar-lewagon">
  <div class="container-fluid">
    <% if true %>
      <div class="navbar user-navbar" id="navbarSupportedContent">
        <ul class="navbar-nav navbar-bottom">
            <li class="nav-item list-inline-item">
              <%= link_to "#" do %>
                  <i class="fa-solid fa-store"></i>
                <% end %>
            </li>
            <li class="nav-item list-inline-item">
              <%= link_to my_bookings_path do %>
                <i class="fa-regular fa-calendar"></i>
              <% end %>
            </li>
            <li class="nav-item list-inline-item">
            <%= link_to "Messagerie path" do %>
                <i class="fa-regular fa-comments"></i>
              <% end %>
            </li>
            <li class="nav-item list-inline-item">
          <%= link_to "Profil path" do %>
              <i class="fa-regular fa-user"></i>
            <% end %>
          </li>
        </ul>
      </div>
    <% else %>
      <div class="navbar user-navbar" id="navbarSupportedContent">
      <ul class="navbar-nav navbar-bottom">
          <li class="nav-item list-inline-item">
            <%= link_to bookings_path do %>
                <i class="fa-regular fa-calendar"></i>
              <% end %>
          </li>
          <li class="nav-item list-inline-item">
            <%= link_to favorites_path do %>
              <i class="fa-regular fa-heart"></i>
            <% end %>
          </li>
          <li class="nav-item list-inline-item">
            <%= link_to root_path do %>
              <i class="fa-solid fa-burger"></i>
            <% end %>
          </li>
          <li class="nav-item list-inline-item">
          <%= link_to "Messagerie path" do %>
              <i class="fa-regular fa-comments"></i>
            <% end %>
          </li>
          <li class="nav-item list-inline-item">
          <%= link_to "Profil path" do %>
              <i class="fa-regular fa-user"></i>
            <% end %>
          </li>
      </ul>
      </div>
    <% end %>
  </div>
</div>
