<h2 class="text-center my-4">Mes plats</h2>
<%= link_to 'Ajouter un plat'.html_safe, new_restaurant_meal_path(@restaurant), class: "btn btn-orange w-100 mb-3"  %>
<% @restaurant.meals.each do |meal| %>
  <%= link_to meal_path(meal), class:"text-decoration-none text-reset" do %>
    <div class="card card-meal-list my-3">
      <div class="card-image">
        <%= cl_image_tag meal.photo.key, style:"border-radius: 10px; margin: 5px", alt: "meal", width: 90, height: 90, crop: :fill %>
      </div>
        <div class="card-meal-infos">
          <h3 class="card-meal-name"><%= meal.name %></h3>
          <p class="card-meal-description"><%= meal.description %></p>
          <div class="card-price-part">
            <div class="category">
              <p><%= meal.category %></p>
            </div>
            <div class="meal-price">
              <p><%= meal.price %>€</p>
            </div>
          </div>
        </div>
    </div>
  <% end %>
<% end %>
