<div class="container">
  <div class="row">
    <div class="col-12">
      <h2 class="text-center my-3">Mes badges</h2>
        <div class="container">
          <div class="row">
            <div class="col-4">
              <% if true %>
                <div style="height: 100px; width:100px;">
                  <%= image_tag 'badge-meal-bronze-new.png', alt: 'Badge meal bronze', style: 'height:100%;' %>
                </div>
              <% else %>
                <div style="height: 100px; width:100px;">
                  <%= image_tag 'badge-meal-bronze-new.png', alt: 'Badge meal bronze', style: 'height:100%; opacity: 0.5;' %>
                </div>
              <% end %>
              <p class="text-center">10 swipes</p>
            </div>
            <div class="col-4">
              <% if true %>
                <div style="height: 100px; width:100px;">
                  <%= image_tag 'badge-meal-silver-new.png', alt: 'Badge meal silver', style: 'height:100%;' %>
                </div>
              <% else %>
                <div style="height: 100px; width:100px;">
                  <%= image_tag 'badge-meal-silver-new.png', alt: 'Badge meal silver', style: 'height:100%; opacity: 0.5;' %>
                </div>
              <% end %>
              <p class="text-center bold">25 swipes</p>
            </div>
            <div class="col-4">
              <% if true %>
                <div style="height: 100px; width:100px;">
                  <%= image_tag 'badge-meal-gold-new.png', alt: 'Badge meal gold', style: 'height:100%;' %>
                </div>
              <% else %>
                <div style="height: 100px; width:100px;">
                  <%= image_tag 'badge-meal-gold-new.png', alt: 'Badge meal gold', style: 'height:100%; opacity: 0.5;' %>
                </div>
              <% end %>
              <p class="text-center">50 swipes</p>
            </div>
          </div>
          <div class="row">
            <div class="col-4">

            </div>
            <div class="col-4">

            </div>
            <div class="col-4">

            </div>
          </div>
          <div class="row">
            <div class="col-4">

            </div>
            <div class="col-4">

            </div>
            <div class="col-4">

            </div>
          </div>
        </div>
    </div>
  </div>
</div>
