<div class="tinder" data-controller="swipe">
  <div class="tinder--status">
    <i class="fa fa-remove"></i>
    <i class="fa fa-heart"></i>
  </div>
  <div class="tinder--cards">
    <% @meals.each do |meal| %>
      <div class="tinder--card" data-swipe-target="swipeCard">
        <%# <%= cl_image_tag meal.photo.key, alt: "food", crop: :fill %>
        <div class="bg-gradient-image" style="background-image: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 80%, rgba(255,255,255,1) 100%), url(<%= cl_image_path meal.photo.key, alt: "food", crop: :fill %>);">
        </div>
        <div class="info-content">
          <%= link_to meal_path(meal), class: "text-decoration-none text-reset" do %>
            <i class="fa-solid fa-circle-info"></i>
          <% end %>
          <div class="info-content-text">
            <h3><%= meal.name %></h3>
            <p><%= meal.price %>€</p>
          </div>
        </div>
          <%= render "shared/icons_likes", meal: meal, favorite: @favorite %>
      </div>
    <% end %>
  </div>
  <%# <div class="tinder--buttons">
  </div> %>
</div>
