<div class="container">
    <div class="search">
      <%= simple_form_for(:query, url: meals_path, method: :get) do |f| %>
        <div class="d-flex" data-filter-target="button" style="padding-top: 2vh">
          <div class="boxes">
            <%= f.input :category, collection: Meal::CATEGORY, input_html: {multiple: true, data: {controller: "filter", filter_options_value: {tags: true}}, value: @categories}, label: false %>
          </div>
          <div style="margin-left: 1vh; margin-top: 1vh;">
            <%= submit_tag "Filtrer", class: "btn btn-orange" %>
          </div>
        </div>
      <% end %>
    </div>
  <div class="tinder" data-controller="swipe">
    <div class="tinder--cards">
      <% @meals.each do |meal| %>
        <div class="tinder--card" data-swipe-target="swipeCard">
          <div class="bg-gradient-image" style="background-image: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 80%, rgba(255,255,255,1) 100%), url(<%= cl_image_path meal.photo.key, alt: "food", crop: :fill %>);">
          <div class="meal-card-rate"><% rate = meal.reviews.map(&:rating).sum / meal.reviews.size.to_f %>
            <% if rate = 0 %>
              <h2><%= "" %></h2>
            <% else %>
              <h2><%= "#{rate}⭐️" %></h2>
            <% end %></div>
          </div>
          <div class="info-content">
            <%= link_to meal_path(meal), class: "text-decoration-none text-reset" do %>
              <i class="fa-solid fa-circle-info"></i>
            <% end %>
            <div class="info-content-text">
              <h3><%= meal.name %></h3>
              <p><%= meal.price %>€</p>
            </div>
          </div>
            <%= render "shared/icons_likes", meal: meal, favorite: @favorite %>
        </div>
      <% end %>
    </div>
  </div>
</div>
