<div class="container">
  <div class="row">
    <div class="col-12 p-0">
      <% if @restaurant.user_id == current_user.id %>
          <div class="cards m-3">
            <div class="card-meal-show p-3 mb-3">
              <%= render "shared/meal", meal: @meal%>
              <div class="btn d-flex ">
                <div class="meal-show-button">
                  <%= link_to edit_restaurant_meal_path(@restaurant, @meal) do %>
                    <button class="btn btn-orange">Modifier</button>
                  <% end %>
                </div>
                <div class="meal-show-button">
                  <%= link_to restaurant_meal_path(@restaurant, @meal), data: {turbo_method: :delete, turbo_confirm: "Êtes vous sûr?"} do %>
                    <button class="btn btn-orange">Supprimer</button>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
      <% else %>
        <div class="cards m-3">
          <div class="card-meal-show p-3 mb-3" style="min-height: 80vh">
            <%= render "shared/meal", meal: @meal%>

            <div class="d-flex justify-content-center flex-column">
              <%= render "shared/icons_likes", meal: @meal, favorite: @favorite %>
              <div class="meal-show-button">
                <%= link_to meals_path(meal: @meal) do %>
                  <button class="btn btn-orange">Retour</button>
                <% end %>
              </div>
            </div>
          </div>
        </div>

        <div class="cards m-3">
          <div class="card-meal-show p-3 m-3">
            <div class="d-flex" style="justify-content: space-between;">
              <h2>Avis</h2>
              <% rate = @meal.reviews.map(&:rating).sum / @meal.reviews.size.to_f %>
              <% if rate.nan? %>
                <h2><%= "-" %></h2>
              <% else %>
                <h2 style="display: flex; justify-content:flex-start;"><%= rate.round(2) %>&nbsp;<i class="fa-solid fa-star rate-icon"></i></h2>
              <% end %>
            </div>
          <% @meal.reviews.each do |review|%>
            <%= render "shared/review", review: review %>
          <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
